@using KOMiT.Core.Model
@inject HttpClient http
@inject NavigationManager navManger
@inject ConfirmationService confirmationService


<div class="row">
    <div class="col-md-4">
        <EditForm class="container" Model="project">
            <DataAnnotationsValidator />
            <ValidationSummary />

            
            <div class="form-group">
                <label>Projektnavn</label>
                <input @bind-value="project.Name" class="form-control" />
                <span asp-validation-for="Projektnavn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Beskrivelse</label>
                <input @bind-value="project.Description" class="form-control" />
                <span asp-validation-for="Beskrivelse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Projekttype</label>
                <input @bind-value="project.ProjectType" class="form-control" />
                <span asp-validation-for="Projekttype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Prioritet</label>
                <input @bind-value="project.Priority" class="form-control" />
                <span asp-validation-for="Prioritet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Status</label>
                <input @bind-value="project.Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Startdato</label>
                <input @bind-value="project.EstimatedStartDate" class="form-control" />
                <span asp-validation-for="Startdato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Slutdato</label>
                <input @bind-value="project.EstimatedEndDate" class="form-control" />
                <span asp-validation-for="slutdato" class="text-danger"></span>
            </div>
            <button class="btn btn-primary" @onclick="Create"> Opret </button>
            <Button Color="ButtonColor.Secondary" @onclick="OnClick">Luk</Button>
        </EditForm>
    </div>
</div>


@if (!string.IsNullOrEmpty(confirmationService.SuccessMessage))
{
    <div class="alert alert-success">
        <b>@confirmationService.SuccessMessage</b>
    </div>
}

@if (!string.IsNullOrEmpty(confirmationService.WarningMessage))
{
    <div class="alert alert-danger">
        <b>@confirmationService.WarningMessage</b>
    </div>
}

@code {
    public Project project = new Project();
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick{ get; set; }
    private async Task Create()
    {
        var response = await http.PostAsJsonAsync("https://localhost:7282/api/Project/CreateProject", project);

        if (response.IsSuccessStatusCode)
        {
            confirmationService.SetSuccessMessage("Projektet er oprettet succesfuldt!");
            navManger.NavigateTo("/");
        }
        else
        {
            confirmationService.SetWarningMessage("Fejl ved oprettelse af Projekt. Prøv igen.");
        }
    }

}
